In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("PrePlacement.csv")

#independet - T-Test (Unpaired)
#we have to chek two groups with one condition 
from scipy.stats import ttest_ind
dataset=dataset.dropna() #(null values not work for T-Test)
Male=dataset[dataset["gender"]=="M"]["salary"]
Female=dataset[dataset["gender"]=="M"]["salary"]

ttest_ind(Male,Female)
output:
Ttest_indResult(statistic=0.0, pvalue=1.0)

In [3]:
dataset["gender"]=="M"

0       True
1       True
2       True
3       True
4       True
       ...
210     True
211     True
212     True
213    False
214     True
Name: gender, Length: 215, dtype: bool

In [4]:
dataset[dataset["gender"]=="M"]

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,0.0
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,210,M,62.00,Central,72.00,Central,Commerce,65.00,Comm&Mgmt,No,67.0,Mkt&Fin,56.49,Placed,216000.0
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,0.0

In [5]:
dataset[dataset["gender"]=="F"]["salary"]

6           0.0
12          0.0
13     218000.0
15     200000.0
17          0.0
         ...
197    260000.0
198         0.0
204    210000.0
208         0.0
213    204000.0
Name: salary, Length: 76, dtype: float64

In [6]:
#independet - T-Test (Unpaired)
#we have to chek two groups with one condition 
from scipy.stats import ttest_ind
dataset=dataset.dropna() #(null values not work for T-Test)
Male=dataset[dataset["gender"]=="M"]["salary"]
Female=dataset[dataset["gender"]=="F"]["salary"]

ttest_ind(Male,Female)

Ttest_indResult(statistic=2.0937842507001165, pvalue=0.03746230397067219)

In [7]:
#dependent T-Test (paired)
#we have to chek one groups with two condition 
from scipy.stats import ttest_rel
#dataset=dataset.dropna() #(null values not work for T-Test)
Male=dataset[dataset["gender"]=="M"]["ssc_p"]
Male1=dataset[dataset["gender"]=="M"]["hsc_p"]

ttest_rel(Male,Male1)

Ttest_relResult(statistic=0.6842940392688153, pvalue=0.4949370716000775)

In [8]:
#Assignment 1
from scipy.stats import ttest_ind
#dataset=dataset.dropna() #(null values not work for T-Test)
other=dataset[dataset["hsc_b"]=="Others"]["salary"]
central=dataset[dataset["hsc_b"]=="Central"]["salary"]

ttest_ind(other,central)

Ttest_indResult(statistic=0.30570032095155825, pvalue=0.7601313863865756)

In [9]:
#pvalue is 76% that's huge

In [10]:
dataset["hsc_b"]=="Others"

0       True
1       True
2      False
3      False
4      False
       ...
210     True
211     True
212     True
213     True
214     True
Name: hsc_b, Length: 215, dtype: bool

In [11]:
dataset[dataset["hsc_b"]=="Others"]["salary"]

0      270000.0
1      200000.0
5           0.0
6           0.0
12          0.0
         ...
210    400000.0
211    275000.0
212    295000.0
213    204000.0
214         0.0
Name: salary, Length: 131, dtype: float64

In [12]:
#Assignment2
#dependent T-Test (paired)
#we have to chek one groups with two condition 
from scipy.stats import ttest_rel
#dataset=dataset.dropna() #(null values not work for T-Test)
Commerce=dataset[dataset["hsc_s"]=="Commerce"]["mba_p"]
Commerce1=dataset[dataset["hsc_s"]=="Commerce"]["etest_p"]
                  
ttest_rel (Commerce,Commerce1)

Ttest_relResult(statistic=-7.868552092606869, pvalue=2.462926468454984e-12)

#hypothesis
question: is ssc_p of male and hsc_p of male is same?
#Thumb rule is if p < or = 0.05 reject null hypothesis and Accept Alter hypothesis.

In [13]:
from scipy.stats import ttest_rel
#dataset=dataset.dropna() #(null values not work for T-Test)
Male=dataset[dataset["gender"]=="M"]["ssc_p"]
Male1=dataset[dataset["gender"]=="M"]["hsc_p"]

ttest_rel(Male,Male1)

Ttest_relResult(statistic=0.6842940392688153, pvalue=0.4949370716000775)

In [ ]:
#in above problem we have p value is 0.49 so condition is falls (0.49 not < 0.05)
#so we reject Alter hypothesis and accept null hypothesis. 
#Answer: ssc_p of male and hsc_p of male is Not same.(Null hypothesis)