In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
dataset=pd.read_csv("Placement.csv")

In [4]:
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [23]:
dataset.isna().sum()

sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              8
hsc_b              0
hsc_s              0
degree_p           1
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            82
dtype: int64

In [24]:
dataset = pd.read_csv("Placement.csv")

# Force conversion of numeric-like columns
numeric_cols = ["ssc_p", "hsc_p", "degree_p", "etest_p", "mba_p", "salary"]
for col in numeric_cols:
    dataset[col] = pd.to_numeric(dataset[col], errors="coerce")

In [25]:
dataset.dtypes

sl_no               int64
gender             object
ssc_p             float64
ssc_b              object
hsc_p             float64
hsc_b              object
hsc_s              object
degree_p          float64
degree_t           object
workex             object
etest_p           float64
specialisation     object
mba_p             float64
status             object
salary            float64
dtype: object

In [26]:
#check for outliers 
from Univariate import Univariate

In [27]:
quan,qual=Univariate.quan_qual(dataset)

In [28]:
quan

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [29]:
qual

['gender',
 'ssc_b',
 'hsc_b',
 'hsc_s',
 'degree_t',
 'workex',
 'specialisation',
 'status']

In [30]:
descriptive=Univariate.descriptive_Tab(dataset,quan)

In [31]:
descriptive

              sl_no    ssc_p    hsc_p degree_p  etest_p    mba_p  salary
Mean            108  67.3034  66.3332  66.3702  72.1006  62.2782  288655
Median          108       67       65       66       71       62  265000
Mode              1       62       63       65       60     56.7  300000
Q1:25%         54.5     60.6     60.9       61       60   57.945  240000
Q2:50%          108       67       65       66       71       62  265000
Q3:75%        161.5     75.7       73       72     83.5   66.255  300000
99%          212.86       87    91.86    83.86       97  76.1142     NaN
Q4:100%         215     89.4     97.7       91       98    77.89  940000
IQR             107     15.1     12.1       11     23.5     8.31   60000
1.5rule       160.5    22.65    18.15     16.5    35.25   12.465   90000
lesser_per     -106    37.95    42.75     44.5    24.75    45.48  150000
greater_per     322    98.35    91.15     88.5   118.75    78.72  390000
Mini              1    40.89       37       50       50    51.21  200000
Max             215     89.4     97.7       91       98    77.89  940000

In [32]:
lesser_de,greater_de=Univariate.detect_lesser_greater(quan,descriptive)

In [33]:
lesser_de

['hsc_p']

In [34]:
greater_de

['hsc_p', 'degree_p', 'salary']

In [35]:
Re_Dataset=Univariate.Replace_outliers(dataset,lesser_de,greater_de,descriptive)

In [36]:
Re_Dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91,Others,Commerce,58,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000
2,3,M,65.00,Central,68,Central,Arts,64,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000
3,4,M,56.00,Central,52,Central,Science,52,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.6,Central,Commerce,73.3,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82,Others,Commerce,77.6,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,NaN
211,212,M,58.00,Others,60,Others,Science,72,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000
212,213,M,67.00,Others,67,Others,Commerce,73,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000
213,214,F,74.00,Others,66,Others,Commerce,58,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000
214,215,M,62.00,Central,58,Others,Science,53,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [39]:
numeric_cols = ["ssc_p", "hsc_p", "degree_p", "etest_p", "mba_p", "salary"]

for col in numeric_cols:
    Re_Dataset[col] = pd.to_numeric(Re_Dataset[col], errors="coerce")

In [40]:
Re_Dataset.dtypes

sl_no               int64
gender             object
ssc_p             float64
ssc_b              object
hsc_p             float64
hsc_b              object
hsc_s              object
degree_p          float64
degree_t           object
workex             object
etest_p           float64
specialisation     object
mba_p             float64
status             object
salary            float64
dtype: object

In [41]:
descriptive=Univariate.descriptive_Tab(Re_Dataset,quan)

In [42]:
descriptive

              sl_no    ssc_p    hsc_p degree_p  etest_p    mba_p  salary
Mean            108  67.3034  66.5448  66.2551  72.1006  62.2782  264977
Median          108       67       65       66       71       62  260000
Mode              1       62       63       65       60     56.7  300000
Q1:25%         54.5     60.6       61       61       60   57.945  240000
Q2:50%          108       67       65       66       71       62  260000
Q3:75%        161.5     75.7       73       72     83.5   66.255  300000
99%          212.86       87      NaN      NaN       97  76.1142     NaN
Q4:100%         215     89.4       91       85       98    77.89  380000
IQR             107     15.1       12       11     23.5     8.31   60000
1.5rule       160.5    22.65       18     16.5    35.25   12.465   90000
lesser_per     -106    37.95       43     44.5    24.75    45.48  150000
greater_per     322    98.35       91     88.5   118.75    78.72  390000
Mini              1    40.89       44       50       50    51.21  200000
Max             215     89.4       91       85       98    77.89  380000

In [43]:
lesser_de,greater_de=Univariate.detect_lesser_greater(quan,descriptive)

In [44]:
lesser_de

[]

In [45]:
greater_de

[]

In [47]:
Re_Dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,NaN
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [48]:
Re_Dataset.isna().sum()

sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              8
hsc_b              0
hsc_s              0
degree_p           1
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            82
dtype: int64

In [49]:
from sklearn.impute import SimpleImputer

In [50]:
salary_imputer = SimpleImputer(strategy="constant", fill_value=0)
Re_Dataset["salary"] = salary_imputer.fit_transform(Re_Dataset[["salary"]])

In [52]:
median_imputer = SimpleImputer(strategy="median")
Re_Dataset[quan] = median_imputer.fit_transform(Re_Dataset[quan])

In [61]:
mean_imputer = SimpleImputer(strategy="most_frequent")
Re_Dataset[qual] = mean_imputer.fit_transform(Re_Dataset[qual])

In [62]:
Re_Dataset.isna().sum()

sl_no             0
gender            0
ssc_p             0
ssc_b             0
hsc_p             0
hsc_b             0
hsc_s             0
degree_p          0
degree_t          0
workex            0
etest_p           0
specialisation    0
mba_p             0
status            0
salary            0
dtype: int64

In [56]:
##Now out dataset is free from outliers and null values.

In [57]:
Re_Dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1.0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2.0,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3.0,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4.0,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,0.0
4,5.0,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211.0,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,0.0
211,212.0,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213.0,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214.0,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215.0,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,0.0

In [59]:
#good now convert this file into .csv file to use as dataset
Re_Dataset.to_csv("PreprocessedPlacement.csv",index=False) #(dataset.to_csv(key word)("file name") #index=False,its omits duplicate index)