In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
dataset=pd.read_csv("Placement.csv")

In [4]:
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [5]:
#check for outliers 
from Univariate import Univariate

In [6]:
quan,qual=Univariate.quan_qual(dataset)

In [7]:
quan

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [8]:
qual

['gender',
 'ssc_b',
 'hsc_b',
 'hsc_s',
 'degree_t',
 'workex',
 'specialisation',
 'status']

In [9]:
descriptive=Univariate.descriptive_Tab(dataset,quan)

In [10]:
descriptive

              sl_no    ssc_p    hsc_p degree_p  etest_p    mba_p  salary
Mean            108  67.3034  66.3332  66.3702  72.1006  62.2782  288655
Median          108       67       65       66       71       62  265000
Mode              1       62       63       65       60     56.7  300000
Q1:25%         54.5     60.6     60.9       61       60   57.945  240000
Q2:50%          108       67       65       66       71       62  265000
Q3:75%        161.5     75.7       73       72     83.5   66.255  300000
99%          212.86       87    91.86    83.86       97  76.1142     NaN
Q4:100%         215     89.4     97.7       91       98    77.89  940000
IQR             107     15.1     12.1       11     23.5     8.31   60000
1.5rule       160.5    22.65    18.15     16.5    35.25   12.465   90000
lesser_per     -106    37.95    42.75     44.5    24.75    45.48  150000
greater_per     322    98.35    91.15     88.5   118.75    78.72  390000
Mini              1    40.89       37       50       50    51.21  200000
Max             215     89.4     97.7       91       98    77.89  940000

In [12]:
lesser_de,greater_de=Univariate.detect_lesser_greater(quan,descriptive)

In [13]:
lesser_de

['hsc_p']

In [14]:
greater_de

['hsc_p', 'degree_p', 'salary']

In [15]:
Re_Dataset=Univariate.Replace_outliers(dataset,lesser_de,greater_de,descriptive)

D:\Week-6_Datascience_Bivariate\Data_PreProcessing\Univariate.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[column_names][dataset[column_names]<descriptive[column_names]["lesser_per"]]=descriptive[column_names]
D:\Week-6_Datascience_Bivariate\Data_PreProcessing\Univariate.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[column_names][dataset[column_names]>descriptive[column_names]["greater_per"]]=descriptive[column_names]

In [16]:
Re_Dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91,Others,Commerce,58,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000
2,3,M,65.00,Central,68,Central,Arts,64,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000
3,4,M,56.00,Central,52,Central,Science,52,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.6,Central,Commerce,73.3,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82,Others,Commerce,77.6,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,NaN
211,212,M,58.00,Others,60,Others,Science,72,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000
212,213,M,67.00,Others,67,Others,Commerce,73,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000
213,214,F,74.00,Others,66,Others,Commerce,58,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000
214,215,M,62.00,Central,58,Others,Science,53,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [17]:
descriptive=Univariate.descriptive_Tab(Re_Dataset,quan)

KeyError: 'hsc_p'